/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 2, ../sass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 3, ../sass/_base.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 4, ../sass/_base.scss */
html, body {
  width: 100%;
}

/* line 5, ../sass/_base.scss */
body {
  font-family: Arial,Helvetica,sans-serif;
  line-height: 1.6;
  background: #fff;
  font-size: 14px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* line 6, ../sass/_base.scss */
img, a img, img:focus {
  border: 0;
  outline: 0;
}

/* line 7, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 8, ../sass/_base.scss */
textarea, input, a, textarea:focus, input:focus, a:focus {
  outline: none;
}

/* line 9, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.4;
}

/* line 10, ../sass/_base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  color: #444444;
}

/* line 11, ../sass/_base.scss */
h1 {
  font-size: 30px;
}

/* line 12, ../sass/_base.scss */
h2 {
  font-size: 24px;
}

/* line 13, ../sass/_base.scss */
h3 {
  font-size: 20px;
}

/* line 14, ../sass/_base.scss */
h4 {
  font-size: 18px;
}

/* line 15, ../sass/_base.scss */
h5 {
  font-size: 16px;
}

/* line 16, ../sass/_base.scss */
h6 {
  font-size: 14px;
}

/* line 17, ../sass/_base.scss */
p img {
  margin: 0;
}

/* line 18, ../sass/_base.scss */
em {
  font-style: italic;
}

/* line 19, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 20, ../sass/_base.scss */
small {
  font-size: 80%;
}

/* line 21, ../sass/_base.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 22, ../sass/_base.scss */
sup, sub {
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}

/* line 23, ../sass/_base.scss */
sup {
  bottom: 1ex;
}

/* line 24, ../sass/_base.scss */
sub {
  top: .5ex;
}

/* line 25, ../sass/_base.scss */
ul {
  list-style: none;
}

/* line 26, ../sass/_base.scss */
ol {
  list-style: decimal;
}

/* line 27, ../sass/_base.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 28, ../sass/_base.scss */
ul.square {
  list-style: square outside;
}

/* line 29, ../sass/_base.scss */
ul.circle {
  list-style: circle outside;
}

/* line 30, ../sass/_base.scss */
ul.disc {
  list-style: disc outside;
}

/* line 31, ../sass/_base.scss */
li p {
  line-height: 21px;
}

/* line 32, ../sass/_base.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

/* line 33, ../sass/_base.scss */
blockquote p {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

/* line 34, ../sass/_base.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 35, ../sass/_base.scss */
a {
  color: #428bca;
  text-decoration: none;
}

/* line 36, ../sass/_base.scss */
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}

/* line 37, ../sass/_base.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 38, ../sass/_base.scss */
p a {
  line-height: inherit;
}

/* line 39, ../sass/_base.scss */
hr {
  background-color: #EDEDED;
  border: 0;
  clear: both;
  height: 1px;
  margin-bottom: 18px;
}

/* line 40, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 41, ../sass/_base.scss */
input, textarea {
  color: #696969;
  font-size: 13px;
  background: #fff;
  border: 1px solid #ddd;
}

/* line 42, ../sass/_base.scss */
input {
  height: 25px;
  padding: 4px 10px;
}

/* line 43, ../sass/_base.scss */
textarea {
  width: 400px;
  overflow: hidden;
  padding: 10px;
}

/* line 44, ../sass/_base.scss */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}

/* line 45, ../sass/_base.scss */
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/* line 46, ../sass/_base.scss */
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

/* line 47, ../sass/_base.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/* line 48, ../sass/_base.scss */
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 49, ../sass/_base.scss */
input[type="search"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 50, ../sass/_base.scss */
input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

/* line 51, ../sass/_base.scss */
input[type="file"] {
  display: block;
}

/* line 52, ../sass/_base.scss */
select[multiple], select[size] {
  height: auto;
}

/* line 53, ../sass/_base.scss */
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}

/* line 54, ../sass/_base.scss */
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 55, ../sass/_base.scss */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

/* line 56, ../sass/_base.scss */
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
}

/* line 57, ../sass/_base.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top: 0px;
}

/* line 58, ../sass/_base.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ddd;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 59, ../sass/_base.scss */
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 60, ../sass/_base.scss */
.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none;
}

/* line 61, ../sass/_base.scss */
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
}

/* line 62, ../sass/_base.scss */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

/* line 63, ../sass/_base.scss */
.inline-ul {
  font-size: 0;
  *word-spacing: -1px;
}

/* line 64, ../sass/_base.scss */
.inline-ul li {
  font-size: 14px;
  vertical-align: top;
  word-spacing: normal;
  letter-spacing: normal;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 65, ../sass/_base.scss */
  .inline-ul {
    letter-spacing: -5px;
  }
}
/* line 67, ../sass/_base.scss */
.clearfix {
  *zoom: 1;
}

/* line 68, ../sass/_base.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 69, ../sass/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 70, ../sass/_base.scss */
.pull-left {
  float: left;
  display: inline;
}

/* line 71, ../sass/_base.scss */
.pull-right {
  float: right;
  display: inline;
}

/* line 72, ../sass/_base.scss */
.text-left {
  text-align: left;
}

/* line 73, ../sass/_base.scss */
.text-right {
  text-align: right;
}

/* line 74, ../sass/_base.scss */
.text-center {
  text-align: center;
}

/* line 7, ../sass/style.scss */
::-webkit-input-placeholder {
  color: #333;
}
::-moz-placeholder {
  color: #333;
}
:-ms-input-placeholder {
  color: #333;
}
::placeholder {
  color: #333;
}

/* line 10, ../sass/style.scss */
a {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}

/* line 14, ../sass/style.scss */
body {
  background: #EEEFF1;
}

/* line 17, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #666565;
}

/*header*/
/* line 19, ../sass/style.scss */
.header {
  background: #2A2C2E;
  padding: 20px 0;
}
/* line 22, ../sass/style.scss */
.header a {
  color: #B5BDC0;
}
/* line 24, ../sass/style.scss */
.header a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 30, ../sass/style.scss */
.logo {
  float: left;
  font-size: 20px;
}

/* line 31, ../sass/style.scss */
.nav {
  float: right;
  font-size: 16px;
}

/* line 32, ../sass/style.scss */
.nav li {
  margin-left: 10px;
}

/*main*/
/* line 34, ../sass/style.scss */
.inner {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}

/* line 35, ../sass/style.scss */
.inner:before, .inner:after {
  display: table;
  content: "";
}

/* line 36, ../sass/style.scss */
.inner:after {
  clear: both;
}

/* line 37, ../sass/style.scss */
.main {
  margin: 20px 0;
}

/* line 38, ../sass/style.scss */
.content {
  float: left;
  width: 100%;
}

/* line 39, ../sass/style.scss */
.left-primary {
  margin-right: 300px;
  background: #fff;
}

/* line 40, ../sass/style.scss */
.content-header {
  padding: 5px 10px;
  line-height: 24px;
  background: #F7F7F7;
  border-bottom: 1px solid #ddd;
}

/* line 41, ../sass/style.scss */
.content-list {
  padding: 10px;
}

/* line 42, ../sass/style.scss */
.entry-title {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background: #EDF0F2;
  position: relative;
  -webkit-transition-property: all;
  transition-property: all;
}
/* line 49, ../sass/style.scss */
.entry-title:before {
  position: absolute;
  content: '-';
  right: 10px;
  top: 5px;
  font-size: 20px;
  color: #333;
}
/* line 57, ../sass/style.scss */
.entry-title:hover {
  background: #e7ebee;
  text-decoration: none;
}
/* line 61, ../sass/style.scss */
.entry-title a {
  background: url(../images/icon.png) no-repeat 0 4px;
  line-height: 30px;
  padding: 0 10px 0 30px;
  color: #666565;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 71, ../sass/style.scss */
.entry-meta, .entry-content {
  padding: 5px 10px;
  margin-bottom: 5px;
}

/* line 75, ../sass/style.scss */
.entry-meta:hover, .entry-content:hover {
  background: #f8f8f8;
}

/* line 78, ../sass/style.scss */
.entry-meta .muted {
  margin-right: 10px;
}

/*pagination*/
/* line 81, ../sass/style.scss */
.pagination {
  text-align: center;
  padding-bottom: 20px;
}
/* line 82, ../sass/style.scss */
.pagination a, .pagination span {
  padding: 3px 6px;
  border: 1px solid #ddd;
  background: #EDF0F2;
  margin: 0 4px;
  color: #666565;
  border: 1px solid #EDF0F2;
  border-radius: 4px / 4px;
  -webkit-transition-property: background;
  transition-property: background;
}
/* line 87, ../sass/style.scss */
.pagination a:hover {
  background: #cfd7dd;
  text-decoration: none;
}

/*sidebar*/
/* line 92, ../sass/style.scss */
.sidebar {
  float: left;
  margin-left: -290px;
  width: 290px;
}

/* line 93, ../sass/style.scss */
.widget {
  margin-bottom: 10px;
  background: #fff;
}

/* line 97, ../sass/style.scss */
.widget-header {
  background: #F7F7F7;
  padding: 5px 10px;
  line-height: 24px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
/* line 103, ../sass/style.scss */
.widget-header:before {
  position: absolute;
  right: 10px;
  top: 5px;
  content: '-';
  font-size: 20px;
  color: #333;
}
/* line 111, ../sass/style.scss */
.widget-header:hover {
  background: #eaeaea;
  cursor: pointer;
}

/* line 116, ../sass/style.scss */
.open-content:before {
  content: '+';
  z-index: 2;
}

/* line 120, ../sass/style.scss */
.widget-title {
  font-size: 14px;
  line-height: 24px;
}

/* line 122, ../sass/style.scss */
.widget ul {
  padding: 5px 0;
}
/* line 124, ../sass/style.scss */
.widget ul li {
  padding-left: 10px;
  line-height: 30px;
}
/* line 127, ../sass/style.scss */
.widget ul li:hover {
  background: #f8f8f8;
}
/* line 130, ../sass/style.scss */
.widget ul li a:hover {
  text-decoration: none;
}
/* line 135, ../sass/style.scss */
.widget .tagcolud {
  padding: 10px;
}
/* line 137, ../sass/style.scss */
.widget .tagcolud a {
  margin-bottom: 4px;
}

/*footer*/
/* line 143, ../sass/style.scss */
.footer {
  background: #2A2C2E;
  color: #8e999d;
  font-size: 12px;
  padding: 25px 0;
}

/* line 149, ../sass/style.scss */
.copyright {
  float: left;
  width: 400px;
}

/* line 150, ../sass/style.scss */
.nav-page {
  float: left;
  width: 200px;
  line-height: 24px;
}
/* line 152, ../sass/style.scss */
.nav-page li {
  margin-right: 20px;
}
/* line 155, ../sass/style.scss */
.nav-page a {
  color: #8e999d;
}
/* line 157, ../sass/style.scss */
.nav-page a:hover {
  color: #fff;
}
